package user

import (
    "github.com/ConnorHill22/user-management-boilerplate/web/layout"
    "github.com/ConnorHill22/user-management-boilerplate/internal/model"
    "github.com/ConnorHill22/user-management-boilerplate/web/view/component"
)

templ Show(user model.User) {
    @layout.Base() {
        <h1 class="text-purple-600">Hello {user.Email} from the user page</h1>
        <p>I'm a good person</p>
        @component.Input(component.InputProps{
            InputType: "email",
            Name: "email",
        })
    }
}
