package component


templ SimpleError(message string) {
    <p class="text-red">{message}</p>
}

templ SimpleMessage(message string) {
    <p class="text-green">{message}</p>
}

templ BlankMessage() {
    <div></div>
}