package view_dashboard_route

templ UserSettingsTemplate() {
    <div class="flex h-[80vh] mt-16 m-8 bg-white">
      <aside class="flex flex-col w-64 p-6 bg-primary divide-y divide-solid divide-tertiary">
        <h2 class="text-3xl text-white">Settings</h2>
        <div>
          <h3>Account</h3>
          <p>
              Preferences
          </p>
        </div>
      </aside>
  </div>
}